body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  height: 100vh;
  position: relative; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

.wrapper {
  display: flex;
  width: 100%;
  min-height: 100%;
  overflow: hidden; }
  @media (max-width: 700px) {
    .wrapper div:nth-child(3) {
      display: none; }
    .wrapper div:nth-child(4) {
      display: none; }
    .wrapper div:nth-child(5) {
      display: none; } }

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: background .4s linear; }

.col h2 {
  font-family: inherit;
  font-size: 28px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 9px rgba(0, 0, 0, 0.3);
  transition: all .2s; }
  .col h2:active {
    transform: translateY(6px);
    box-shadow: 0 6px rgba(0, 0, 0, 0.3); }

@media (any-hover: hover) {
  .col h2:hover {
    background-color: rgba(0, 0, 0, 0.2); } }
.col button {
  display: inline-block;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 10px -7px  black;
  font-size: 1.5rem;
  transition: background .2s linear;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px rgba(0, 0, 0, 0.3);
  transition: all .2s; }
  .col button:active {
    transform: translateY(6px);
    box-shadow: 0 4px rgba(0, 0, 0, 0.3); }

@media (any-hover: hover) {
  .col button:hover {
    background-color: rgba(0, 0, 0, 0.2); } }
.col h3 {
  font-size: 24px;
  position: absolute;
  display: block;
  text-transform: uppercase;
  right: 0;
  left: 0;
  bottom: 8%;
  text-align: center;
  margin: 0 auto; }
  @media (max-width: 700px) {
    .col h3 {
      display: none; } }

.copy {
  position: absolute;
  padding: 30px;
  border-radius: 15px;
  color: #ccc;
  background: rgba(0, 0, 0, 0.3);
  font-size: 30px;
  -webkit-animation: fadeOut 1s ease-in-out;
  animation: fadeOut 1s ease-in-out;
  opacity: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  max-width: 400px;
  height: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: auto; }
  @media (max-width: 700px) {
    .copy {
      display: none;
      animation-delay: .4s;
      font-size: 16px;
      width: 250px;
      height: 80px; } }

.select {
  position: absolute;
  display: flex;
  padding: 0px 15px 10px 15px;
  color: #ccc;
  font-size: 18px;
  bottom: 1%;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  right: 0;
  font-size: 20px; }
  @media (max-width: 700px) {
    .select {
      display: none; } }

.closeBtn {
  position: absolute;
  top: 0px;
  right: -6%;
  color: white;
  opacity: .3;
  font-size: 16px;
  cursor: pointer; }

.closeBtn:hover {
  color: lightgrey;
  opacity: 1; }

.select-header {
  padding: 10px;
  font-weight: bold; }

.select-container {
  display: flex;
  gap: 10px;
  margin-right: 10px; }

.select--2:hover,
.select--3:hover,
.select--4:hover,
.select--5:hover {
  cursor: pointer;
  text-shadow: #fff 1px 0 10px; }

#blink {
  -webkit-animation: blink 8s forwards;
  animation: blink 10s forwards; }

@keyframes blink {
  0% {
    color: #222222;
    filter: blur(0px); }
  100% {
    color: rgba(34, 34, 34, 0);
    filter: blur(6px); } }
@keyframes fadeOut {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1;
    -webkit-transform: translateY(0px); }
  99% {
    opacity: 0;
    -webkit-transform: translateY(-25px); }
  100% {
    opacity: 0; } }
.openNav {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 47px;
  height: 47px;
  display: inline-block;
  padding: 10px;
  margin: 0 10px 10px 0;
  outline: none;
  border-radius: 10px;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  transition: right .4s linear;
  box-shadow: 1px 1px 8px 2px #111;
  cursor: pointer; }
  @media (max-width: 700px) {
    .openNav {
      display: none; } }

.sideNav {
  position: absolute;
  height: 100px;
  width: 230px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: -1500px;
  background-color: #111;
  opacity: .5;
  overflow-x: hidden;
  transition: right .6s;
  border-radius: 16px;
  margin: 0 10px 10px 0;
  box-shadow: 2px 2px 5px #111; }

.sideNav a {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: .6s; }

.sideNav a:hover {
  color: #f1f1f1; }

.sideNav .closeBtn {
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 36px;
  margin-left: 50px; }

/*# sourceMappingURL=style.css.map */
