@mixin phones {
  @media (max-width: 700px) {
    @content;
  }
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  position: relative;
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: flex;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  @include phones {
    & div:nth-child(3) {
      display: none;
    }
    & div:nth-child(4) {
      display: none;
    }
    & div:nth-child(5) {
      display: none;
    }
  }
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.col h2 {
  font-size: 28px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  background: rgba(0, 0, 0, .1);
  box-shadow: 3px 3px 10px -7px  black;
  transition: background .2s linear;
  &:active {
    -webkit-animation: blink 2s linear infinite;
    animation: blink 2s linear infinite;
  }
  &:hover {
    background: rgba(0, 0, 0, .2);
  }
}

.col button {
  padding: 10px;
  outline: none;
  border-radius: 10px;
  border: none;
  background: rgba(0, 0, 0, .1);
  box-shadow: 3px 3px 10px -7px  black;
  font-size: 1.5rem;
  transition: background .2s linear;
  cursor: pointer;
  &:hover {
    background: rgba(0, 0, 0, .2);
  }
}

.col h3 {
  font-size: 24px;
  position: absolute;
  display: block;
  text-transform: uppercase;
  cursor: default;
	right: 0;
	left: 0;
  bottom: 8%;
  text-align: center;
  margin: 0 auto;
  @include phones() {
    display: none;
  }
}

.copy {
  position: absolute;
  padding: 5px;
  border-radius: 10px;
  color: #ccc;
  background: rgba(0, 0, 0, .3);
  font-size: 40px;
  -webkit-animation: info .8s linear;
  animation: info 2s linear;
  opacity: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  max-width: 350px;
  height: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  @include phones() {
    font-size: 30px;
    width: 250px;
    height: 80px;
  }
}

#blink {
  -webkit-animation: blink 10s forwards;
  animation: blink 10s forwards;
}

@-webkit-keyframes blink {
  0% { color: rgba(34, 34, 34, 1); filter: blur(0px);}
  100% { color: rgba(34, 34, 34, 0); filter: blur(8px);}
}

@keyframes blink {
  0% { color: rgba(34, 34, 34, 1); filter: blur(0px); }
  100% { color: rgba(34, 34, 34, 0); filter: blur(8px); }
}

@-webkit-keyframes info {
  0% { opacity: 1; filter: blur(0px);}
  100% { opacity: 0; filter: blur(8px); }
}

@keyframes info {
  0% { opacity: 1; filter: blur(0px);}
  100% { opacity: 0; filter: blur(8px);}
}